body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: auto;
  background-color: black;
  margin: 0;
  color: white;
  font-family: Arial, sans-serif;
}

canvas {
  border: 1px solid white;
}

#mainMenu {
  text-align: center;
}

button {
  background-color: white;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: lightgray;
  color: black;
}

#gameUI {
  margin-bottom: 10px;
}

@media (max-width: 1000px) {
  /* your css for mobile devices goes here */
  /* Example: */
  canvas {
    width: 80%;
    height: 80%;
  }
}

@media (max-width: 800px) and (orientation: landscape) {
  
  /* your css for mobile devices goes here */
  /* Example: */
  canvas {
    width: 55%;
    height: 55%;
  }
}

@media (max-width: 600px) and (orientation: landscape) {
  
  /* your css for mobile devices goes here */
  /* Example: */
  canvas {
    width: 40%;
    height: 40%;
  }
}

@media (max-height: 500px) and (orientation: landscape) {
  
  /* your css for mobile devices goes here */
  /* Example: */
  canvas {
    width: 40%;
    height: 40%;
  }
}

@media (max-height: 400px) and (orientation: landscape) {
  
  /* your css for mobile devices goes here */
  /* Example: */
  canvas {
    width: 35%;
    height: 35%;
  }
}

@media (max-height: 300px) and (orientation: landscape) {
  
  /* your css for mobile devices goes here */
  /* Example: */
  canvas {
    width: 20%;
    height: 20%;
  }
}

#canvasContainer {
  display: flex;
  justify-content: center;
}
